node_modules/
.next/
out/
.expo/
.expo-shared/
coverage/
__pycache__/
*.pyc
.env
.env.local
venv/
.venv/
dist/
build/
media/
staticfiles/
.DS_Store
*.log
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.pytest_cache/
.mypy_cache/
